@import "../../styles/colors.scss";

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  margin: 0.75rem 0;
  width: 100%;
  align-items: flex-start;
  position: relative;
  max-width: 320px;

  .required-star {
    color: $red;
    margin-left: 4px;
    font-weight: 600;
  }
  .input-label {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: $text;
    margin-left: 8px;
  }

  .input-field{
    width: 100%;
    max-width: 320px;

    padding: 0.75rem 0.7rem;
    font-size: 1rem;
    color: $text_dark;
    background: $white;
    border: 1.5px solid $text_input_border;
    border-radius: 8px;
    transition: all 0.2s ease;
    outline: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    &::placeholder {
      color: $text;
      opacity: 0.6;
    }

    &:focus {
      outline: none;
      border: 1.5px solid $blue;
      box-shadow: 0 2px 6px rgba($primary, 0.2);
    }

    &:hover {
      border-color: $blue;
    }
  }


  .error-text {
    color: $red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: block;
  }

  &.error {
    .input-field {
      border-color: $red;
      box-shadow: 0 2px 6px rgba($red, 0.2);
    }

    .input-label {
      color: $red;
    }
  }
}

.autocomplete_list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $white;
  border: 1px solid $light-gray;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  li {
    padding: 2px;
    cursor: pointer;
    &:hover {
      background: $light-blue;
      color: $white;
    }
  }
}
.calendar-icon {
  font-size: 1.2rem;
  color: #666;
}
input[type="date"] {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
}
@media (max-width: 768px) {
  .input-wrapper,
  .autocomplete_wrapper {
    width: 100% !important;
  }
}


.custom_date_popper {
  z-index: 9999 !important;
  .react-datepicker {
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: $white;
    font-family: "Inter", sans-serif;
  }

  .react-datepicker__header {
    background-color: $blue;
    color: $white;
    border: none;
    padding: 0.8rem;
  }

  .react-datepicker__current-month {
    font-weight: 600;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    color: $dark-gray;
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: $blue !important;
    color: $white !important;
    border-radius: 50%;
  }

  .react-datepicker__day:hover {
    background-color: $light-blue;
    color: $white;
    border-radius: 50%;
  }
}

.custom_date_input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: $text_dark;
  background: transparent;
  cursor: pointer;
}
