@import "../../styles/colors";
@import "../../styles/mixins";

.sidebar_root {
  background: rgba($white, 0.9);
  backdrop-filter: blur(10px);
  border-right: 1px solid $light-gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 240px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  &.collapsed {
    width: 50px;

    .label {
      display: none;
    }
    .sidebar_header {
      justify-content: center;
      h2 {
        display: none;
      }
      .logo-icon {
        display: block;
        font-size: 1.5rem;
        color: $blue;
      }
    }


    .sidebar_menu{
      padding-left: 0 !important;
    }
    .sidebar_menu li,
    .sidebar_footer li {
      justify-content: center;
      padding: 0.75rem 0;

      .icon {
        margin: 0;
      }
    }
  }


  .sidebar_header {
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    color: $blue;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
  }

  .sidebar_menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    li {
      @include flex-center(row, 0.8rem);
      padding: 0.75rem 1rem;
      border-radius: 8px;
      font-weight: 500;
      font-size: 0.95rem;
      color: $dark-gray;
      cursor: pointer;
      transition: all 0.25s ease;

      .icon {
        font-size: 1.2rem;
      }

      &:hover {
        background: $light-gray;
        color: $blue;
        transform: translateX(3px);
      }

      &.active {
        background: $blue;
        color: $white;
        font-weight: 600;
        box-shadow: 0 4px 12px rgba($blue, 0.2);
      }
    }
  }

  .sidebar_footer {
    border-top: 1px solid $light-gray;
    padding-top: 1rem;
    margin-top: auto;
    margin-bottom: 2rem;

    li {
      @include flex-center(row, 0.8rem);
      padding: 0.75rem 1rem;
      border-radius: 8px;
      font-size: 0.95rem;
      color: $dark-gray;
      cursor: pointer;
      transition: all 0.25s ease;

      .icon {
        font-size: 1.2rem;
      }

      &:hover {
        background: $light-gray;
        color: $red;
      }
    }
  }
}
