@import "../../styles/colors";
@import "../../styles/mixins";

.datatable_root {
  @include card(1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
  padding: 1rem;

  .datatable_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .title {
      margin-bottom: 12px;
    }
    .datatable_search {
      padding: 0.6rem 1rem;
      border: 1px solid $light-gray;
      border-radius: 6px;
      font-size: 0.95rem;
      width: 250px;
      outline: none;
      transition: border-color 0.2s ease;

      &:focus {
        border-color: $blue;
      }
    }
    .rows_info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .subtitle {
        margin: 0;
      }

      .rows_select {
        padding: 0.5rem 1rem;
        border: 1px solid $light-gray;
        border-radius: 6px;
        font-size: 0.9rem;
        background-color: #fff;
        color: $text_dark;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          border-color: $blue;
        }

        &:focus {
          outline: none;
          border-color: darken($blue, 5%);
          box-shadow: 0 0 0 2px rgba($blue, 0.15);
        }
      }
    }
  }

  .datatable_wrapper {
    overflow-x: auto;
    max-height: 60vh !important;
    overflow-y: scroll;
  }

  .datatable_table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $light-gray;
      position: sticky;
      top: 0;
      z-index: 1;

      th {
        padding: 0.9rem;
        text-align: left;
        font-weight: 600;
        color: $text_dark;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($light-gray, 5%);
        }

        &.sorted {
          color: $blue;
        }

        .sort_arrow {
          margin-left: 0.4rem;
          font-size: 0.75rem;
        }
      }
    }

    tbody {
      tr {
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($light-gray, 15%);
        }
        &.clickable {
          cursor: pointer;
          &:hover {
            background-color: darken($light-gray, 10%) !important;
          }
        }
        &.active{
          background-color: $green;
          color: white m !important;
          td{
            color: white !important;
          }
        }
        td {
          padding: 0.8rem;
          border-top: 1px solid $light-gray;
          font-size: 0.95rem;
          color: $text;
        }

        .no_data {
          text-align: center;
          padding: 1.5rem;
          color: $dark-gray;
        }
      }
    }
  }
}

.loading_cell {
  text-align: center;
  padding: 2rem;
}
